<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="../css/tree_menu.css"/>
<link rel="stylesheet" type="text/css" href="../css/main.css" />
<link rel="stylesheet" type="text/css" href="../css/toolbar.css" />

<script type="text/javascript" src="http://121.199.38.132/jquery-1.8.3.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" src="../js/jpagelst-0.0.1.js"></script>
<script type="text/javascript" src="../js/jloading-0.0.1.js"></script>
<script type="text/javascript" src="../js/jselect.lst-0.0.1.js" charset="utf-8"></script>
<script type="text/javascript" src="../js/jform-0.0.1.js" charset="utf-8"></script>
<script type="text/javascript" src="../js/tree_menu.js"></script>
<script type="text/javascript" src="../js/jpicture.lst-0.0.1.js"></script>
</head>
<body>
<div id="userInfoBlock" class="title_block"></div>
<img src="http://121.199.38.132/images/main/shadow.png" style="width:100%;height:5px;"/>

<div style="margin:0 auto;width:95%;font-size:14px;">
	<div id="treeMenu"  class="menu_tree_block"></div>
	<div style="width:1px;background:#eeeeee;float:left;margin-top:10px;"></div>
	
	<div class="right_block">
		<div id="rightTitleBlock" class="right_title_block"></div>
		
		<div style="width:100%;height:45px;float:left;">
			<label class="label_1">企业名称:</label>
			<label id="cpy_name" class="label_1" style="width:300px;color:#666666;text-align:left;margin-left:10px;cursor:pointer;"></label>
		</div>
		
		<div style="width:100%;height:45px;float:left;">
			<label class="label_1">归属区域:</label>
			<label id="area" class="label_1" style="width:300px;color:#666666;text-align:left;margin-left:10px;cursor:pointer;"></label>
		</div>
		<div style="width:100%;height:45px;float:left;">
			<label class="label_1">营业执照号:</label>
			<label id="license_no" class="label_1" style="width:300px;color:#666666;text-align:left;margin-left:10px;"></label>
			<label class="label_1" style="width:120px;color:blue;text-align:left;margin-left:10px;cursor:pointer;" onclick="showImageFile('licenseNoImage', '营业执照', licenseNoUrl)">查看营业执照</label>
		</div>
		<div style="width:100%;height:45px;float:left;">
			<label class="label_1">所属行业:</label>
			<label id="industry" class="label_1" style="width:300px;color:#666666;text-align:left;margin-left:10px;cursor:pointer;"></label>
		</div>
		<div style="width:100%;height:45px;float:left;">
			<label class="label_1">所属类别:</label>
			<label id="category" class="label_1" style="width:300px;color:#666666;text-align:left;margin-left:10px;cursor:pointer;"></label>
		</div>
		<div style="width:100%;height:45px;float:left;">
			<label class="label_1">身份证号:</label>
			<label id="ID_card_no" class="label_1" style="width:300px;color:#666666;text-align:left;margin-left:10px;"></label>
			<label class="label_1" style="width:120px;color:blue;text-align:left;margin-left:10px;cursor:pointer;" onclick="showImageFile('idCardFrontImage', '身份证照片正面', idCardFrontUrl)">查看身份证图片正面</label>
			<label class="label_1" style="width:120px;color:blue;text-align:left;margin-left:10px;cursor:pointer;" onclick="showImageFile('idCardBackImage', '身份证照片反面', idCardBackUrl)">查看身份证图片反面</label>
		</div>
		
		<div style="width:100%;height:45px;float:left;">
			<label class="label_1">法人姓名:</label>
			<label id="cpy_legal_name" class="label_1" style="width:300px;color:#666666;text-align:left;margin-left:10px;"></label>
		</div>
		<div style="width:100%;height:45px;float:left;">
			<label class="label_1">电话号码:</label>
			<label id="svr_tel" class="label_1" style="width:300px;color:#666666;text-align:left;margin-left:10px;"></label>
		</div>
		<div style="width:100%;height:45px;float:left;">
			<label class="label_1">对公账户名:</label>
			<label id="clr_act" class="label_1" style="width:300px;color:#666666;text-align:left;margin-left:10px;"></label>
		</div>
		
		<div style="clear:both;"></div>
		
		<div style="width:400px;height:45px;line-height:45px;margin:0 auto;">
			<div style="width:120px;;height:40px;margin:0 auto;background:#43adf0;line-height:40px;color:#fff;font-size:15px;border-radius:5px;cursor:pointer;margin-top:15px;float:left;" onclick="javascript:history.go(-1)">返回</div>
			<div style="width:120px;;height:40px;margin:0 auto;background:#46ca2c;line-height:40px;color:#fff;font-size:15px;border-radius:5px;cursor:pointer;margin-top:15px;float:left;margin-left:10px;" onclick="updateMerchantStatus(2, '确定要通过该商户的审核吗？')">通过审核</div>
			<div style="width:120px;;height:40px;margin:0 auto;background:#df2936;line-height:40px;color:#fff;font-size:15px;border-radius:5px;cursor:pointer;margin-top:15px;float:left;margin-left:10px;" onclick="updateMerchantStatus(3, '确定要拒绝该商户的审核吗？')">拒绝</div>
		</div>
	</div>
	
	
	
</div>
<script>
var locationSearch = window.location.search;
var paramInfos = locationSearch.substring(1, locationSearch.length);
var merchantId;
var taskId;

var params = paramInfos.split("&");
for(var i = 0; i < params.length; i++) {
	var param = params[i];
	if(param.indexOf("=") > 0) {
		var keyValue = param.split("=");
		if(keyValue.length == 2) {
			var key = keyValue[0];
			var value = keyValue[1];
			if(key == 'merchantId') {
				merchantId = value;
			} else if(key == 'taskId') {
				taskId = value;
			}
		}
	}
}

processUserInfo({level:2, treeNodeId:"merchantAuthMgmt"});
var jLoading = new JLoading();

var idCardFrontUrl, idCardBackUrl, licenseNoUrl;

var jPictureLst = new JPictureLst({id:"showPictureLst", uploadFile: function(pictureId, fileData) {
	processFileSliceData({fileData: fileData
	, showUploadingProgress: function(total, current) {jPictureLst.showUploadingProgress(pictureId, total, current)}
	, uploadError: function() {jPictureLst.uploadError(pictureId)}
	, uploadSuccess: function(relativeFilePath, fileFullPath) {
		jPictureLst.uploadSuccess(pictureId);
		if(pictureId == "idCardFrontImage") {
			idCardFrontUrl = relativeFilePath;
		} else if(pictureId == "idCardBackImage") {
			idCardBackUrl = relativeFilePath;
		} else if(pictureId == "licenseNoImage") {
			licenseNoUrl = relativeFilePath;
		}
	}});
}, isUpload: false});

function showImageFile(imageId, imageName, imageUrl) {
	jPictureLst.showPictureLst({entityId: "", pictureLst: [{id: imageId, url:imageUrl, name:imageName}]});
}


function queryMerchantInfo() {
	var url = getSvrAddress() + "/v1/merchants/queryMerchantInfo.action?";
	url += "recId=" + merchantId;
	
	jLoading.showLoading();
	$.ajax({
		type: "GET",
		url:url,
		dataType:"json",
		success: function(data) {
			jLoading.hideLoading();
			if(data.isSuccess) {
				assembleMerchantInfo(data.rtnObj);
			} else {
				alert(data.message);
			}
		},
		error: function() {
			alert("网络异常:请稍后再试");
		}
	});
}


function updateMerchantStatus(comStat, message) {
	if(confirm(message)){
		var data = "recId=" + merchantId + "&taskId=" + taskId + "&comStat=" + comStat;
		var url = getSvrAddress() + "/v1/merchants/updateMerchantStatus.action";
		
		jLoading.showLoading();
		
		$.ajax({
			type: "POST",
			url:url,
			data:data,
			dataType:"json",
			success: function(data) {
				jLoading.hideLoading();
				history.go(-1);
			}
		});
	}
}

function assembleMerchantInfo(data) {
	document.getElementById("cpy_name").innerHTML = data.cpy_name;
	document.getElementById("industry").innerHTML = data.industry;
	document.getElementById("area").innerHTML = data.area;
	document.getElementById("category").innerHTML = data.category;
	document.getElementById("cpy_legal_name").innerHTML = data.cpy_legal_name;
	document.getElementById("clr_act").innerHTML = data.clr_act;
	document.getElementById("svr_tel").innerHTML = data.svr_tel;
	document.getElementById("ID_card_no").innerHTML = data.ID_card_no;
	document.getElementById("license_no").innerHTML = data.license_no;
	
	idCardFrontUrl = data.idCardFrontUrl;
	idCardBackUrl = data.idCardBackUrl;
	licenseNoUrl = data.licenseNoUrl;
}

queryMerchantInfo();
</script>
</body>
</html>